* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B719F;
    width: 100%;
    height: 100px;
    background-color: #D8DCD6;
}

body {
    background-color: #3B719F;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.player {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0;
}

.player p {
    margin-left: 10px;
    font-size: 20px;
    color: #D8DCD6;
    margin-right: 10px;
}

.player button {
    font-size: 18px;
    width: 100px;
    height: 40px;
    background-color: rgb(115, 206, 41);
    border: none;
    color: white;
    border-radius: 5px;
}

.jogo {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "1" "2" "3"
        "4" "5" "6"
        "7" "8" "9";
    background-color: #D8DCD6;
    color:  #8F8CE7;
    font-size: 30px;
}

.bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131.7px;
    height: 131.7px;
    border: 1px solid #8F8CE7;
}

footer {
    font-size: 18px;
    color: rgb(27, 39, 199);
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    background-color: #8F8CE7;
    text-align: center;
}

footer p{
    margin: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: yellow;
    margin: 10px;
}